<%= live_patch("Home", to: Routes.live_path(@socket, __MODULE__)) %>
<%= live_patch("Pictures", to: Routes.live_path(@socket, __MODULE__)) %>
<%= live_patch("Lists", to: Routes.live_path(@socket, __MODULE__)) %>
